@import "https://unpkg.com/open-props/open-props.min.css";
@import "https://unpkg.com/open-props/normalize.min.css";

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: "Google Sans", sans-serif, system-ui;
  transition: background 0.25s;
  /* background-color: #212529 !important;
  color: #fff !important; */
}

html {
  font-family: Arial;
  display: inline-block;
  text-align: center;
}

h4 {
  font-size: 16px;
}

p {
  font-size: 3.0rem;
}

body {
  margin: 0px auto;
  padding-bottom: 25px;
}

.login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.message {
  margin-right: 16px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.hide {
  display: none;
}

.rele_list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.rele {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.each_relay {
  display: flex;
  margin: 20px 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  margin: 0 20px;
  cursor: pointer;
}

.switch input {
  display: none
}

.disabled {
  cursor: not-allowed;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 5px;
  bottom: 5px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 68px
}

input:checked+.slider {
  background-color: #2196F3
}

input:checked+.slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px)
}

.submit {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px
}

.submit:before {
  position: absolute;
  content: "";
  height: 52px;
  width: 52px;
  left: 8px;
  bottom: 8px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 68px
}

input:checked+.submit {
  background-color: #21f344
}

input:checked+.submit:before {
  -webkit-transform: translateX(52px);
  -ms-transform: translateX(52px);
  transform: translateX(52px)
}

.rele_list__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  max-height: 300px;
}

.button_submit {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 68px;
  margin: 0 20px;
}

/* .rele h4 {
  font-size: 13px;
} */

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* background-color: #212529 !important; */
}

.card .title {
  font-size: 1.5rem;
  margin-bottom: 40px;
}

.card_content .title {
  font-size: 1.5rem;
  margin-bottom: 40px;
}

.card_list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
}

.card_content {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  min-width: 500px;
  min-height: 300px;
}

.card_content .auto-control {
  display: flex;
  flex-direction: row;
  margin: 20px;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
}

.auto-control #external-events {
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

/* #external-events {
  position: fixed;
  z-index: 2;
  top: 20px;
  left: 20px;
  width: 150px;
  padding: 0 10px;
  border: 1px solid #ccc;
  background: #eee;
} */

#external-events .fc-event {
  cursor: move;
  margin: 3px 0;
}

#calendar-container {
  position: relative;
  z-index: 1;
  margin-left: 20px;
}

#calendar {
  max-width: 1100px;
  margin: 20px auto;
}

.tooltip {
  position: absolute;
  will-change: transform;
  visibility: visible;
  top: 0px;
  left: 0px;
  transform: translate3d(236px, 137px, 0px);
  background: var(--fc-event-bg-color);
}

.popper,
.tooltip {
  position: absolute;
  z-index: 9999;
  background: #FFC107;
  color: black;
  width: 150px;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  padding: 10px;
  text-align: center;
}

.tooltip .tooltip-arrow,
.popper .popper__arrow {
  border-color: #FFC107;
}

.popper .popper__arrow,
.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow,
.popper[x-placement^="bottom"] .popper__arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

#calendar-container {
  width: 100%;
}


.fc .fc-toolbar-title {
  font-size: 18px;
}

/* .fc .fc-toolbar {
  display: block;
}*/

.fc-toolbar-chunk {
  font-size: 13px;
}

.fc-toolbar-chunk .fc-toolbar-title {
  font-size: 14px;
  text-align: center;
}

#calendar-container {
  margin-left: 0;
}

.toast {
  position: absolute;
  bottom: 20px;
}

/* Mobile */

@media (max-width: 600px) {

  .title h2 {
    font-size: 24px;
  }

  .title h3 {
    font-size: 20px;
  }

  .card_content .auto-control {
    flex-direction: column;
  }

  .card_list {
    flex-direction: column;
  }

  .card {
    margin-bottom: 20px;
  }

  .card_content {
    min-width: 300px;
    padding: 10px;
  }

  .card_content .auto-control {
    margin: 10px 0;
  }

  .rele {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .rele_list {
    flex-wrap: nowrap;
    align-items: flex-end;
  }

}