/*  Complete project details: https://randomnerdtutorials.com/esp32-web-server-websocket-sliders/  */

/* html {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
  }
  h1 {
    font-size: 1.8rem;
    color: white;
  }
  p {
    font-size: 1.4rem;
  }
  .topnav {
    overflow: hidden;
    background-color: #0A1128;
  }
  body {
    margin: 0;
  }
  .content {
    padding: 30px;
  }
  .card-grid {
    max-width: 700px;
    margin: 0 auto;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .card {
    background-color: white;
    box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
  }
  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #034078
  }
  .state {
    font-size: 1.2rem;
    color:#1282A2;
  }
  .slider {
    -webkit-appearance: none;
    margin: 0 auto;
    width: 100%;
    height: 15px;
    border-radius: 10px;
    background: #FFD65C;
    outline: none;
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #034078;
    cursor: pointer;
  }
  .slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    border-radius: 50% ;
    background: #034078;
    cursor: pointer;
  }
  .switch {
    padding-left: 5%;
    padding-right: 5%;
  } */

html {
  font-family: Arial;
  display: inline-block;
  text-align: center;
}

h2 {
  font-size: 3.0rem;
}

p {
  font-size: 3.0rem;
}

body {
  max-width: 600px;
  margin: 0px auto;
  padding-bottom: 25px;
}

.each_relay {
  display: flex;
  margin: 20px 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 68px;
  margin: 0 20px;
}

.switch input {
  display: none
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px
}

.slider:before {
  position: absolute;
  content: "";
  height: 52px;
  width: 52px;
  left: 8px;
  bottom: 8px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 68px
}

input:checked+.slider {
  background-color: #2196F3
}

input:checked+.slider:before {
  -webkit-transform: translateX(52px);
  -ms-transform: translateX(52px);
  transform: translateX(52px)
}

.submit {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px
}

.submit:before {
  position: absolute;
  content: "";
  height: 52px;
  width: 52px;
  left: 8px;
  bottom: 8px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 68px
}

input:checked+.submit {
  background-color: #21f344
}

input:checked+.submit:before {
  -webkit-transform: translateX(52px);
  -ms-transform: translateX(52px);
  transform: translateX(52px)
}

.time_picker {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.option_type {
  display: flex;
  flex-direction: row;
}


.option_title {
  margin-right: 12px;
}

.option_choice {
  margin-right: 6px;
}

.option_time {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}

.picker_js {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.picker_title {
  font-size: 1.5rem;
  margin-right: 12px;
}

.rele_list__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  max-height: 300px;
}

.button_submit {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 68px;
  margin: 0 20px;
}